.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
}
/* Style the input */

.add-container {
  margin-bottom: 10px;
}
/* Style the "Add" button */
.add-btn {
  min-width: 153px;
  display: inline-block;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background-image: none;
  color: var(--button-color);
  background-color: #ff9900;
  border-color: #ccc;
  text-transform: uppercase;
  padding: 14px 0;
  letter-spacing: 1.1px;
  border: none;
}

.add-btn:hover {
  background-color: #fca626;
}

/* form */

input {
  margin: 0;
  border-radius: 2px;
  width: 350px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid rgba(202, 202, 202, 0.5);
  box-sizing: border-box;
  margin-right: 10px;
}

.fb {
  background: #3c5898;
  cursor: pointer;
}

.fb:hover {
  background: #5477c7;
}

.goo {
  background: #de5246;
  cursor: pointer;
}

.goo:hover {
  background: #f37b70;
}